body {
  max-width: 100%;
  overflow-x: hidden;
}

sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}

.ft-ysanbold{
  font-family: 'YahooSansBold';
}

.ft-ysanextrabold{
  font-family: 'YahooSansExtraBold';
}

.ft-ysanblack{
  font-family: 'YahooSansBlack';
}

.ft-red{
  color:#D73D2E;
}

.ft-green{
  color:#4caf50;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 1;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loadingPage{
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  left:0;
  top:0;
  opacity: 1;
  background-color: #fff;
  z-index: 99;
  text-align: center;
  position: fixed;
}

#loadingPage img{
  margin:0 auto;
  display:block;
  width:100px;
  margin-top:250px;
}

#comingSoonPage{
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  left:0;
  top:0;
  opacity: 1;
  background-color: #fff;
  z-index: 99;
  text-align: center;
  position: fixed;
}

#comingSoon img{
  margin:0 auto;
  display:block;
  width:100px;
  margin-top:250px;
}

/* ============== */
/* BS */
/* ============== */

.btn{
  border-radius: 0px !important;
  box-shadow: none !important;
}

.badge-gold{
  background-color: gold !important;
  color:#fff;
}

.badge-silver{
  background-color: silver !important;
  color:#fff;
}

.badge-bronze{
  background-color: #cd7f32 !important;
  color:#fff;
}

.badge-purple{
  background-color: #400090 !important;
  color:#fff;
}

#mainContent{
  margin-left:-3%;
}

/* ============== */
/* Rank menu / nav */
/* ============== */

.rank-list{
  list-style: none;
  width:70%;
  color:#fff;
  padding:0px;
  margin: 0px;
}

.rank-list a{
  color:#fff;
}

.rank-list li{
  width:100%;
  display:block;
  margin:0 auto;
  text-align: center;
  cursor: pointer;
}

.rank-list li a{
  text-decoration: none;
}

.rank-title-m{
  font-size:.7rem;
  margin-left:1rem;
  text-align: left;
}

.rank-heading-icon img{
  width:48px;
  height: auto;
  margin-left:12px;
  display: block;
}

.rank-heading-title{
  font-size:.7rem;
  text-align: left;
  margin-left:1.2rem;
}

.rank-list li.active{
  background-color:#400090;
  font-family: 'YahooSansBold';
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}


/* ============== */
/* Card */
/* ============== */


.card-body{
  padding:0rem;
}

.card{
  border-radius: 1.25rem;
  overflow: hidden;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position:relative;
}

.card-normal{
  height:320px;
}

.card-long{
  height:100%;
}

.card-front,.card-back{
  backface-visibility: hidden;
}

.card-back{
  display: none;
}

.card-back-heading{
  font-size:1rem;
  background-color:#333;
  color:#fff;
  padding:.5rem;
}

.card-back-team-container{
  font-size:.8rem;
  padding:1rem 0;
  border-bottom:1px solid #eee;
}

.card-back-team-container:last-child{
  border:0px;
}

.card-back-team{
  height:1rem;
  overflow:hidden;
}

.card-footer{
  position: absolute;
  width:100%;
  bottom:0px;
  height: 24px;
  text-align: center;
  padding:0px;
  font-size:14px;
}

.card-grey{
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.card-grey:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.card-gold{
  background: rgba(224,221,224,1);
  background: -moz-linear-gradient(-45deg, rgba(224,221,224,1) 0%, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 49%, rgba(224,221,224,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(224,221,224,1)), color-stop(0%, rgba(246,246,246,1)), color-stop(49%, rgba(255,255,255,1)), color-stop(100%, rgba(224,221,224,1)));
  background: -webkit-linear-gradient(-45deg, rgba(224,221,224,1) 0%, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 49%, rgba(224,221,224,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(224,221,224,1) 0%, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 49%, rgba(224,221,224,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(224,221,224,1) 0%, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 49%, rgba(224,221,224,1) 100%);
  background: linear-gradient(135deg, rgba(224,221,224,1) 0%, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 49%, rgba(224,221,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0dde0', endColorstr='#e0dde0', GradientType=1 );
}

.card-gold,.card-gold *{
  border-color: goldenrod !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.card-gold:hover {
  -webkit-box-shadow: 3px 4px 38px -9px rgba(250,205,25,1);
  -moz-box-shadow: 3px 4px 38px -9px rgba(250,205,25,1);
  box-shadow: 3px 4px 38px -9px rgba(250,205,25,1);
}

.card-gold .card-header{
  background-color:goldenrod;
  font-family: 'YahooSansBold';
  color:#fff;
  text-align: center;
}

.btn-flip{
  opacity: 0;
  transition-duration: .5s;
}

.card:hover *{
  opacity: 1;
}

/* ============== */
/* league page   */
/* ============== */

h1.league-heading{
  font-size:1rem;
  font-family:'YahooSansBold';
  padding:.4rem 0rem 1rem 0rem;
  text-align: center;
  border:1px solid #fff;
  border-radius: 10px;
  margin:-1.3rem auto 0rem auto;
  background:#fff;
  color:#333;
}

.league-total-score{
  font-family: 'YahooSansBold';
  font-size:1.5rem;
  text-align: center;
  color:#D73D2E;
}

.league-commish{
  border:1px solid #aaa;
  border-radius: 15px;
  text-align: center;
  margin:-.2rem auto 1rem auto;
  font-size:.7rem;
  width:80%;
}

.league-logo{
  /* min-height:150px; */
  /* height: 150px; */
  width:100%;
  overflow-y: hidden;
  left:0;
}

/* ============== */
/* team page   */
/* ============== */

h1.team-heading{
  font-family: 'YahooSansBold';
  font-size:1.2rem;
  text-align: center;
  color:#333;
}

h2.team-heading2{
  font-family: 'YahooSansBold';
  font-size:1.8rem;
  text-align: center;
  color:#D73D2E;

}

.team-icon{
  border-radius: 50%;
  margin:0 auto;
  display:block;
  width:84px;
}

.team-info{
  border:1px solid #aaa;
  border-radius: 15px;
  text-align: center;
  padding:.2rem 1rem;
  width:95%;
  margin:0 auto;
  font-size:14px;
}

.team-ts{
  text-align: center;
  margin-left:-5.5rem;
  font-size:.5rem;
}

.l-rank{
  /* margin-top:2rem; */
  right:0;
}

/* ============== */
/* slide out menu */
/* ============== */

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow-y: scroll !important;
}

.slideout-open .slideout-menu {
  display: block;
}